<!DOCTYPE html>
<html lang="ru"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porten</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
    <link href="http://fonts.cdnfonts.com/css/post-no-bills-jaffna" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="style.css">
    
</head>
<body>
     <header class="header">
       <div class="top-line">
         <div class="info">
          <div class=" head ">8(812)123-45-67⠀⠀ |</div>
          <div class=" head ">Работаем 7 дней в неделю⠀|</div>
          <div class=" head ">9:00-18:00</div>
         </div>
        <div class=" head ">Войти/Регистрация</div>
       </div>
     
    <!--Навигация-->

     <nav class="navigation">
       <div class="logo">Porten</div>
       <div class="menu">
        <a class="menu-link nav liked active">Понравилось</a>
        <a class=" nav personal-account">Личный кабинет</a>
        <a class=" nav Settings">Настройки</a>
        <div class="nav">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="icon" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
        </div>
        <div class="nav">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="icon" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </div>
        
       </div>
     </nav>
    </header>

                   <!--Главная страница-->

     <main>
    <section class="hello">
      <img  class="background" src="background.jfif" alt="">
      <div class="text-na-img">
        <div class="title-block">
          <span class="title">PORTEN</span>
          <!-- <div class="line"> </div> Кста устарелый метод -->
          <hr class="line"/>
          <span class="subtitle">санкт-петербург</span>
        </div>
      <span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias debitis nihil, hic, totam laboriosam ducimus ipsum nemo molestiae expedita eos, optio sapiente necessitatibus illo. Aperiam repellat optio excepturi consectetur reprehenderit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione quo quasi inventore itaque mollitia autem at earum fuga dignissimos ex? Voluptatum dicta excepturi error odit, facere rerum delectus debitis fuga.</span>

      </div>
    </div> 
    </section>
      <section class="section">
        <div class="section__new_season">
          <h2 class="section_title">СЕЗОН 2020/21</h2>
          <div class="new_season__products" >
            <article class="product_card" v-for="product in products">
              <img class="product_card__image" src="./Rolex.png" alt="" srcset="">
              <span class="product_card__name">{{product.name}}</span>
              <span class="product_card__price">{{product.price}}</span>
            </article>
          </div>
         
        </div>
        <div class="section__new_collection">
          <img class="new_collection__image" src="./123.jpg" alt="">
          <div class="new_collection__text">
            <h2 class="section_title">Новая коллекция</h2>
            <hr class="new_collection__line">
            <a class="new_collection__link" href="#">Каталог</a>
          </div>
         
        </div>
      </section>
      <!-- жопа -->

    <section class="section section__new_products">
      <h2 class="section_title">новые поступления</h2>
      <div class="new_products__products">
        <article class="product_card" v-for="product in products">
          <img class="product_card__image" src="./Rolex.png" alt="" srcset="">
          <span class="product_card__name">{{product.name}}</span>
          <span class="product_card__price">{{product.price}}</span>
        </article>
      </div>
    
    </section>
    </main>
    <footer>

    </footer>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="vue.js"></script>
</body>
</html>