:root {
  --text-color: gray;
  --header-background: black;
  --nav-background: #0f0f0f;
  --text-active: #ffffff;
  --text-nav: #969696;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", sans-serif;
  background-color: var(--header-background);
}
/*  --  Header  --  */
.header {
  background-color: var(--header-background);
  color: var(--text-color);
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: space-around;
}
.top-line {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.info {
  display: flex;
}
.head {
  padding-top: 10px;
  height: 16px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: var(--nav-background);

  width: 100%;
  height: 80px;
  text-transform: uppercase;
}
.nav {
  display: flex;

  font-size: 24px;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
  align-items: center;
  text-align: center;
  padding: 0 30px;
  height: 100%;
  color: var(--text-nav);
}
.active,
.nav:hover {
  color: var(--text-active);
  background: #1f1f1f;
  text-align: center;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
}
.logo {
  color: var(--text-active);
  font-family: "Post No Bills Jaffna", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.icon {
  color: white;
}

.section {
  width: 100%;
  height: 730px;
  display: flex;
  color: white;
}
.section__new_season {
  flex: 55%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 80px;
}
.section__new_collection {
  height: 100%;
  flex: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.section__new_products {
  align-items: flex-start;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}
.new_products__products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 23px;
  width: 1200px;
}
.new_season__products {
  display: flex;
  width: 100%;
  gap: 50px;
}

.new_collection__image {
  object-fit: cover;
  height: 100%;
  width: 880px;
  filter: brightness(0.5);
}
.new_collection__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section_title {
  font-size: 36px;
  margin: 30px 0;
}
.new_collection__line {
  width: 50%;
}
.new_collection__link {
  border: 2px solid white;
  text-decoration: none;
  color: white;
  width: 138px;
  height: 47px;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-in-out;
}
.new_collection__link:hover {
  color: black;
  background-color: white;
  transition: 0.1s ease-in-out;
}

.product_card {
  height: 405px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product_card__name {
  font-size: 18px;
  font-family: "Playfair Display", serif;
}
.product_card__price {
  font-size: 16px;
}
.product_card__image {
  width: 260px;
  height: 325px;
  object-fit: cover;
  background-color: #191b1c;
}

/*  */
.Settings {
  color: var(--text-nav);
}
.hello {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.text-na-img {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hello .text {
  margin: 80px 0;
  width: 730px;
}
.title-block {
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffffff;
}

.background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.4);
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  text-align: center;
  font-family: "Post No Bills Jaffna", sans-serif;
}
.subtitle {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.line {
  width: 179px;
  color: white;
}
